@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #16449a;
  --primary-color-dark: #1d3e74;
  --bg-color: #f9fafe;
  --secondary-color: #f4041d;
  --secondary-color-dark: #551212;
  --text-color: #111111;
  --white: #ffffff;
  --max-width: 1200px;
  --gray: #e4e4e4ee;
  --dark-gray: #444444;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

/* nav start */

nav {
  max-width: 100%;
  padding: 0rem 6rem 0rem 2.65rem;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px;
  background-color: var(--white);
}

nav img {
  padding-top: 2rem;
}

.navlinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.links a {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: var(--primary-color-dark);
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.dropbtn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-content a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--primary-color-dark);
}

.sidenavbtn {
  font-size: 1.5rem;
  cursor: pointer;
  padding-left: 3.5rem;
}

.sidenavbtn:hover {
  color: var(--primary-color-dark);
}

.sidenav {
  height: 170vh;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0px 20px 20px 0px rgb(0, 0, 0);
}

.sidenavlinks {
  position: absolute;
  top: 29px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color);
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  font-size: 2rem;
}

/* nav end */

/* about-us-container start */

.about-us-container {
  max-width: var(--max-width);
  margin: auto;
  color: var(--text-color);
}

.about-us-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
}

.about-us-content {
  padding: 0 0 0 4.5rem;
}

.about-us-heading h1 {
  font-size: 2.75rem;
  text-align: center;
  padding-bottom: 1rem;
}

.about-us-content p {
  font-size: 1rem;
  text-align: justify;
}

.about-us-illustration img {
  width: 450px;
  height: auto;
}

/* about-us-container end */

/* infographic-container start */

.infographic-container {
  background-color: var(--primary-color-dark);
  height: 300px;
  margin-top: -20px;
}

.infographic-content-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-width: var(--max-width);
  margin: auto;
  color: var(--white);
}

.infographic-content-container h3 {
  font-weight: 400;
  font-size: 2rem;
}

.infographic-icon-container-wrapper {
  display: grid;
  height: 300px;
  align-items: center;
  margin-left: 3.5rem;
}

.infographic-icon-container {
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 250px;
  aspect-ratio: 1 / 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.infographic-icon-container i {
  font-size: 125px;
}

.infographic-container-text {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 5rem;
  width: 80%;
  margin-left: 20%;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.infographic-container-count h3 {
  font-size: 5rem !important;
}

/* infographic-container end */

/* vales-container start */

.values-container {
  margin: 0rem auto;
  width: 90%;
  padding: 2rem 0 2rem;
}

.values-heading {
  text-align: center;
  padding: 2rem 0 2rem 0;
}

.values-heading h1 {
  font-size: 2.75rem;
}

.values-heading p {
  font-size: .8rem;
}

.values-container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.values-container .column {
  width: 100%;
  text-align: center;
}

.values-container .card {
  width: 100%;
  height: 95%;
  padding: 2em 1.5em;
  background: linear-gradient(var(--white) 50%, var(--primary-color) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 20px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

.values-container h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color-dark);
  margin: 1rem 0 0.5rem;
}

.values-container p {
  color: var(--dark-gray);
  font-size: 0.8rem;
}

.icon-wrapper {
  background-color: var(--primary-color);
  position: relative;
  margin: -10px auto 0;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.card:hover {
  background-position: 0 100%;
}

.values-container .card:hover{
  transform: translate(0%, -7.5%);
}

.card:hover .icon-wrapper {
  background-color: var(--white);
  color: var(--primary-color);
}

.card:hover h3 {
  color: var(--white);
  transition-duration: 0.5s;
}

.values-container .card:hover p {
  color: #f0f0f0;
}

/* values-container end */

/* quote-container start */

.quote-container {
  background-color: var(--primary-color-dark);
  height: 300px;
  margin-top: -20px;
}

/* quote-container end */

/* footer start */

.footer {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  padding: 6rem 3rem 8rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  z-index: -1;
}

.footer p {
  font-size: 0.8rem;
  color: var(--text-color);
}

.footer-icon-content {
  margin: 0 auto;
  color: var(--white);
  text-align: left;
}

.footer-icon-content h5 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 2rem;
  color: var(--text-color);
}

.footer-icons {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  border-radius: 40px;
  transition: 0.3s;
  background-color: var(--white);
}

.socialicons {
  color: var(--text-color);
  font-size: 20px;
}

.footer-icons:hover .socialicons {
  color: var(--white);
}

.footer-icons:hover {
  background-color: var(--text-color);
  cursor: pointer;
}

.footer-icon-container {
  display: flex;
  justify-content: center;
}

.footer-icon-container a,
i {
  text-decoration: none;
}

.footer-icon-below-text {
  padding-top: 0.85rem;
  text-align: center;
}

.footer-icon-below-text a {
  text-decoration: underline;
  color: var(--text-color);
}

.footercontent {
  margin: 0 auto;
  color: var(--white);
  text-align: left;
}

.footercontent h5 {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  color: var(--text-color);
}

.footercontent ul {
  list-style-type: none;
}

.footercontent a {
  color: var(--dark-gray);
  text-decoration: none;
  position: relative;
  padding: 0 10px 0 0;
}

.footercontent a:hover {
  color: var(--text-color);
  text-shadow: var(--gray) 2px 0px 5px;
  transition-duration: 0.3s;
}

.footerform {
  display: flex;
}

.fa-paper-plane {
  color: #111111;
}

.footercontent input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray);
  outline: none;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Poppins", "Sans Serif";
  padding-right: 10px;
  color: var(--dark-gray);
}

.footerform button {
  font-family: Poppins;
  height: 2.5rem;
  padding: 0px 20px 0px 20px;
  white-space: nowrap;
  background-color: var(--gray);
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  transition: 0.3s;
  border-bottom: 1px solid var(--dark-gray);
}

.footerform button i {
  color: var(--dark-gray);
  transform: translate(-20%, 0%);
}

.footerform button:hover {
  box-shadow: var(--white) 0 1px 30px;
  transition-duration: 0.3s;
  color: var(--text-color);
  background-color: var(--dark-gray);
  cursor: pointer;
  border-bottom: 1px solid var(--gray);
}

.footerform button:hover i {
  color: var(--gray);
}

.newsletter-paragraph {
  margin-top: 1rem;
}

.footer-gradient {
  background-image: linear-gradient(to right,
      var(--primary-color),
      var(--secondary-color));
  filter: brightness(150%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.footer-gradient h5 {
  font-size: 1.25rem;
}

.appointment-content {
  text-align: center;
  padding: 32px 0 25px 0;
}

.appointment-button-wrapper {
  display: flex;
  justify-content: center;
}

.appointment-button {
  font-family: Poppins;
  height: 2.5rem;
  scale: 1.1;
  padding: 0px 20px 0px;
  background-color: var(--dark-gray);
  border: none;
  border-radius: 20px;
  text-align: center;
  transition: 0.5s;
  border-bottom: 1px solid var(--gray);
  color: var(--white);
}

.appointment-button:hover {
  border: 1px ridge var(--dark-gray);
  border-radius: 0px;
  background-color: var(--gray);
  filter: brightness(150%);
  cursor: pointer;
  scale: 1.3;
  color: black;
  font-weight: bolder;
}

/* footer end */